@import 'mixins'

*
  outline: none

html, body
  font-family: 'Open Sans', sans-serif

body
  background: $black
  color: $white
  margin: 0
  overflow-x: hidden

section
  border: 1px solid black
  height: 78px

  &:hover
    cursor: pointer
